.nav-bar {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 650px;
  padding: 12px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
  background: var(--white);
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.logo {
  cursor: pointer;
  object-fit: contain;
  object-position: center;
}
.nav-item {
  list-style-type: none;
  padding: 6px;
  text-transform: uppercase;
  position: relative;
}
.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background: var(--primary-2);
  transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1);
}
.nav-item:hover::before {
  width: 100%;
}
.router-link {
  color: var(--highlight-2);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
}
.hamburger {
  display: none;
}
/* Responsive */
@media screen and (min-width: 768px) and (max-width: 1045px) {
  .nav-bar {
    gap: 275px;
  }
  .nav-items {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .nav-bar {
    justify-content: space-between;
    gap: 0;
  }
  .nav-items {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 70vw;
    height: 100vh;
    background: var(--highlight-2);
    padding-inline: 30px;
    padding-top: 100px;
    border-radius: 16px 0 0 16px;
    transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1);
  }
  .nav-item .router-link {
    color: var(--highlight-1);
    font-size: 20px;
  }
  .nav-item:hover .router-link {
    color: var(--primary-2);
  }
  .visible {
    transform: translateX(-100%);
  }
  .hamburger {
    margin-right: 10px;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .line {
    width: 100%;
    height: 3px;
    border-radius: 16px;
    background: var(--highlight-2);
    transition: all 0.2s linear;
  }
  .x-line {
    background: var(--highlight-1);
  }
  .x-line:nth-child(1) {
    transform: rotate(-45deg) translateY(15px);
  }
  .x-line:nth-child(2) {
    display: none;
  }
  .x-line:nth-child(3) {
    transform: rotate(45deg) translateY(-15px);
  }
}
@media screen and (min-width: 467px) and (max-width: 767px) {
  .nav-items {
    width: 50%;
  }
}
