.alert {
  width: 275px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}
.alert .txt {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.txt p {
  color: var(--highlight-2);
  font-size: 20px;
}
.txt img {
  width: 20px;
}
.alert button {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  background: var(--primary-1);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* Responsive */
@media screen and (max-width: 467px) {
  .alert {
    width: 100%;
  }
  .txt p {
    font-size: 18px;
  }
}
