.testimonial {
  width: 265px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fefcff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1.45);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1.45);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1.45);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1.45);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.4, 0.45, 1.45);
}
.testimonial:hover {
  transform: scale(1.025) translateY(-6px);
  -webkit-transform: scale(1.025) translateY(-6px);
  -moz-transform: scale(1.025) translateY(-6px);
  -ms-transform: scale(1.025) translateY(-6px);
  -o-transform: scale(1.025) translateY(-6px);
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.rating p {
  font-size: 18px;
  font-weight: 700;
  color: var(--highlight-2);
}
.rating img {
  width: 26px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.details p {
  font-family: var(--font-1);
  font-size: 30px;
  font-weight: 900;
  color: var(--highlight-2);
}
.details img {
  width: 96px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.review-text {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 515px) {
  .testimonial {
    width: 85%;
  }
}
